header {
 grid-column: 1 / 3;
}
#header-top {
 padding: 0px;
 height: 70px;
 background-color: white;
}
#logo-text {
 font-size: 48px;
}
#header-bottom {
 display: block;
 background-color: var(--mg);
 background: linear-gradient(to bottom, var(--dg) 0%, var(--mg) 100%);
 padding: 16px;
 width: 100vw;
 box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3) !important;
 overflow: visible;
}
#mobile-cog {
 position: fixed;
 top: 12px;
 left: 5px;
 z-index: 9999;
 width: 40px;
 height: 40px;
 overflow: hidden;
}
/* css for svg logo */
.logo-cog {
 position: absolute;
 top: 25%;
 left: 25%;
 width: 40px;
 height: 40px;
 margin:-10px 0 0 -10px;
 -webkit-animation:spin 10s linear infinite;
 -moz-animation:spin 10s linear infinite;
 animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }