main {
	grid-columns: 2/3;
}

.placeholder {
	grid-column: 2/3;
	border-radius: .2em;
	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	font-size: 1em;
	display: grid;
	margin: 8px;
	text-align: justify;
	padding: 10px 100px;
}